{% for bt in booking.bookedTickets %}
	<fieldset>
		<h4>{{ loop.index }}. {{ bt.productName }} - {{ bt.ticketName }}</h4>
		{% set layout = bt.getFieldLayout() %}
		{% if layout %}
			{% for tab in layout.getTabs() %}
				<div id="{{ tab.getHtmlId() }}"{% if not loop.first %} class="hidden"{% endif %}>
					{% include '_includes/fields' with {
						fields:  tab.getFields(),
						element: bt,
						static:  true,
					} only %}
				</div>
			{% endfor %}
		{% else %}
			<p>This ticket doesn't have any custom fields.</p>
		{% endif %}
	</fieldset>
{% endfor %}