<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widget Template</title>

    <style>
        .preview {
            display: block;
            width: 100%;
            max-width: 1100px;
            margin: 80px auto;
            border: 1px dashed rgba(0, 0, 0, 0.2);
            position: relative;
        }

        .preview::before {
            content: 'WIDGET PREVIEW';
            position: absolute;
            display: block;
            top: -18px;
            font-size: 11px;
            color: rgba(0, 0, 0, 0.5);
        }
    </style>
</head>
<body>

<craft-bookings class="preview">
    <script type="text/props">
        {
            "handle": "fieldHandle",
            "value": {
                "enabled": true,
                "settings":{
                    "baseRule":{
                        "frequency":"HOURLY",
                        "start":{"date":"2018-07-12 01:00:00.000000","timezone_type":3,"timezone":"UTC"},
                        "duration":1,
                        "interval":0,
                        "repeats":"count",
                        "count":20,
                        "until":{"date":"2018-07-12 01:00:00.000000","timezone_type":3,"timezone":"UTC"},
                        "byMonth":[],
                        "byWeekNumber":[],
                        "byYearDay":[],
                        "byMonthDay":[],
                        "byDay":[],
                        "byHour":[],
                        "byMinute":[],
                        "bySetPosition":[]
                    },
                    "exceptions":[
                        {
                            "bookable":false,
                            "repeats":"count",
                            "frequency":"HOURLY",
                            "start":{"date":"2018-07-12 13:00:00.000000","timezone_type":3,"timezone":"UTC"},
                            "duration":1,
                            "interval":1,
                            "count":2,
                            "until":{"date":"2018-07-12 16:00:00.000000","timezone_type":3,"timezone":"UTC"},
                            "byMonth":[],
                            "byWeekNumber":[],
                            "byYearDay":[],
                            "byMonthDay":[],
                            "byDay":[],
                            "byHour":[],
                            "byMinute":[],
                            "bySetPosition":[]
                        }
                    ],
                    "bookableType":"fixed"
                }
            }
        }
    </script>
</craft-bookings>
<script async src="/bundle.js"></script>

</body>
</html>