<label class="b--search icon">
	<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
	     viewBox="0 0 18 18">
		<path
			d="M11.6363636 5.81890909C11.6363636 2.60581818 9.03127273 0 5.81818182 0 2.60509091 0 0 2.60581818 0 5.81890909 0 9.03127273 2.60509091 11.6363636 5.81818182 11.6363636 9.03127273 11.6363636 11.6363636 9.03127273 11.6363636 5.81890909zM9.93178182 9.93149091L16.0001455 15.9998545"
			transform="translate(1 1)"
		/>
	</svg>

	<input
		type="search"
		placeholder="{{ placeholder }}"
		autofocus
	/>

	<span class="b--search-spinner spinner hide"></span>
</label>